menu-drop {
  position: relative;
  display: inline-block;
  font-size: 13.333px;
  font-family: sans-serif;
  /* border: 4px solid gray; */
  cursor: default;
}

menu-opener {
  display: contents;
}

menu-list {
  position: absolute;
  left: 0;
  top: 100%;
  display: grid;
  grid-auto-columns: max-content;
  background: white;
  border: 2px outset rgb(118 118 118);
}

menu-list menu-list {
  left: 100%;
  top: -2px;
}

menu-item {
  padding: 1px 6px;
  position: relative;
}

menu-item:nth-of-type(2n) {
  color: white;
  background: blue;
}